{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="form-register">
        <ul class="nav nav-tabs" id="register_import" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab"
                   aria-controls="register" aria-selected="true">
                    Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import"
                   aria-selected="false">
                    Import Users
                </a>
            </li>
        </ul>
        <div class="tab-content" id="regsiter_import_content">
            <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                {% if messages %}
                    <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <h1>Register</h1>

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.birthDay) }}
                {{ form_row(registrationForm.gender) }}
                {{ form_row(registrationForm.phone) }}
                {{ form_row(registrationForm.pays) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}

                <button type="submit" class="btn btn-dark ml-2">Register</button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="tab-pane" id="import" role="tabpanel" aria-labelledby="import-tab">
                <h1>Import users</h1>
                <form action="{{ path('user_import') }}" method="post" enctype="multipart/form-data">
                    <div class="my-2">
                        <input type="file" class="form-control-file" id="csv_file" name="csv_file"
                               aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">
                            Upload your CSV file here.
                        </small>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-dark ml-2">Register</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
