.form-register {
    max-width: 400px;
    margin: 30px auto;
}

.form-register h1 {
    text-align: center;
}

.form-register form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 60px;
}

.form-register form label {
    display: none;
}